<?xml version="1.0"?>
<phpunit verbose="true">
	<logging>
		<log type="coverage-html" target="build/coverage" title="HTTP_Header2" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" title="HTTP_Header2"/>
	</logging>
	<filter>
		<blacklist>
			<directory suffix=".php">/usr/share/php</directory>
			<directory suffix=".php">tests/unit/</directory>
		</blacklist>
	</filter>
	<testsuites>
		<testsuite>
			<directory>tests</directory>
			<file>*Test.php</file>
		</testsuite>
	</testsuites>
	<php>
		<includePath>lib/HTTP2</includePath>
		<const name="HTTP_HEADER2_TEST_URL" value="http://local/www/mike/pear/HTTP_Header2/tests/response.php'"/>
		<const name="HTTP_HEADER2_CACHE_TEST_URL" value="http://local/www/mike/pear/HTTP_Header2/tests/cacheresponse.php"/>
	</php>
</phpunit>
